In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import statistics
import datetime
import itertools

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
875,tt0293662,21000000,43928932,The Transporter,Jason Statham|Shu Qi|FranÃ§ois BerlÃ©and|Matt ...,Louis Leterrier|Corey Yuen Kwai,Rules are made to be broken.,"Former Special Forces officer, Frank Martin wi...",92,Action|Crime|Thriller,TF1 Films Productions|Current Entertainment|Ca...,10/2/2002,6.5,2002
1607,tt0376541,27000000,115505027,Closer,Natalie Portman|Jude Law|Julia Roberts|Clive O...,Mike Nichols,"If you believe in love at first sight, you nev...","A witty, romantic, and very dangerous love sto...",104,Drama|Romance,Columbia Pictures,12/1/2004,6.6,2004
176,tt2626350,45000000,86165646,Step Up All In,Ryan Guzman|Briana Evigan|Stephen Boss|Misha G...,Trish Sie,Every Step Has Led To This,All-stars from the previous Step Up installmen...,112,Romance|Drama|Music,Summit Entertainment|Offspring Entertainment,7/16/2014,6.7,2014

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
'''creation the dictionary with answers'''
answers = {}


'''calculation the profit of movies and creating additional column to store it'''
data['profit'] = data['revenue'] - data['budget']


'''function that trnasforms string to series'''
def multi_values_split(values):
    new_values = []
    for value in values:
        new_values.append(value.split('|'))
    return new_values


'''transforming cast column from the string to series and saving into cast_series column'''
data['cast_series'] = multi_values_split(data['cast'])


'''transforming director column from the string to series and saving into director_series column'''
data['director_series'] = multi_values_split(data['director'])


'''transforming genres column from the string to series and saving into genres_series column'''
data['genres_series'] = multi_values_split(data['genres'])


'''transforming production_companies column from the string to series and saving into production_series column'''
data['production_series'] = multi_values_split(data['production_companies'])


'''changing the type of data in release_date column to date_time'''
data['release_date'] = data['release_date'].apply(pd.to_datetime, errors='coerce')


'''creating separate column with release months'''
data['release_month'] = pd.DatetimeIndex(data['release_date']).month


'''creating column with title lengths data'''
data['title_length'] = data['original_title'].apply(lambda x:len(x))


'''creating column with number of words in overview'''
def word_count (s):
    slist = s.split()
    return len(slist)

data['overview_words_count'] = data['overview'].apply(word_count)

data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,cast_series,director_series,genres_series,production_series,release_month,title_length,overview_words_count
1073,tt1047540,25000000,119772232,Parental Guidance,Billy Crystal|Bette Midler|Marisa Tomei|Tom Ev...,Andy Fickman,Here come the grandparents. There go the rules.,Artie and Diane agree to look after their thre...,104,Comedy,...,5.9,2012,94772232,"[Billy Crystal, Bette Midler, Marisa Tomei, To...",[Andy Fickman],[Comedy],"[20th Century Fox, Chernin Entertainment, Wald...",12,17,35
108,tt3077214,14000000,16002420,Suffragette,Carey Mulligan|Helena Bonham Carter|Meryl Stre...,Sarah Gavron,Mothers. Daughters. Rebels.,Based on true events about the foot soldiers o...,106,Drama|History,...,7.1,2015,2002420,"[Carey Mulligan, Helena Bonham Carter, Meryl S...",[Sarah Gavron],"[Drama, History]","[Ruby Films, PathÃ©, Film4]",10,11,21
1845,tt0181875,60000000,47383689,Almost Famous,Kate Hudson|Billy Crudup|Frances McDormand|Jas...,Cameron Crowe,Experience it. Enjoy it. Just don't fall for it.,Almost Famous is an autobiographical inspired ...,122,Drama|Music,...,7.3,2000,-12616311,"[Kate Hudson, Billy Crudup, Frances McDormand,...",[Cameron Crowe],"[Drama, Music]","[Columbia Pictures, Vinyl Films, DreamWorks Pi...",9,13,42

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)' #'+'

In [6]:
data[data['budget'] == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,cast_series,director_series,genres_series,production_series,release_month,title_length,overview_words_count
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,...,6.3,2011,641683000,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",5,43,75

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = '1157. Gods and Generals (tt0279111)' #'+'

In [9]:
data[data['runtime'] == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,cast_series,director_series,genres_series,production_series,release_month,title_length,overview_words_count
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,...,5.8,2003,-43076064,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2,17,48

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
data[data['runtime'] == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,cast_series,director_series,genres_series,production_series,release_month,title_length,overview_words_count
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,...,6.8,2011,-15540000,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]","[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",4,15,52

In [11]:
answers['3'] = '768. Winnie the Pooh (tt1449283)' #'+'

# 4. Какова средняя длительность фильмов?

In [12]:
data.runtime.mean()

109.6585494970884

In [13]:
answers['4'] = '109.6585494970884' #'+'

# 5. Каково медианное значение длительности фильмов?

In [14]:
statistics.median(data['runtime'])

107

In [15]:
answers['5'] = '107' #'+'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
data[data['profit'] == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,cast_series,director_series,genres_series,production_series,release_month,title_length,overview_words_count
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,...,7.1,2009,2544505847,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",12,6,28

In [17]:
answers['6'] = '239. Avatar (tt0499549)' #'+'

# 7. Какой фильм самый убыточный?

In [18]:
data[data['profit'] == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,cast_series,director_series,genres_series,production_series,release_month,title_length,overview_words_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,6.0,2013,-165710090,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",7,15,68

In [19]:
answers['7'] = '1245. The Lone Ranger (tt1210819)' #'+'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
data[data['profit']>0].imdb_id.count()

1478

In [21]:
answers['8'] = '1478' #'+'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
data_2008 = data[data['release_year'] == 2008]
data_2008[data_2008['profit'] == data_2008.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,cast_series,director_series,genres_series,production_series,release_month,title_length,overview_words_count
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,...,8.1,2008,816921825,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",7,15,67

In [23]:
answers['9'] = '599. The Dark Knight (tt0468569)' #'+'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
data[data['profit'] == data[(data['release_year'] > 2011) & (data['release_year'] < 2015)].profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,cast_series,director_series,genres_series,production_series,release_month,title_length,overview_words_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,...,6.0,2013,-165710090,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",7,15,68

In [25]:
answers['10'] = '1245. The Lone Ranger (tt1210819)' #'+'

# 11. Какого жанра фильмов больше всего?

In [26]:
data.explode('genres_series').groupby(['genres_series'])['imdb_id'].count().sort_values(ascending=False)

genres_series
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: imdb_id, dtype: int64

In [27]:
answers['11'] = 'Drama' #'+'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
data[data['profit']>0].explode('genres_series').groupby(['genres_series'])['imdb_id'].count().sort_values(ascending=False)

genres_series
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: imdb_id, dtype: int64

In [29]:
answers['12'] = 'Drama' #'+'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [30]:
data.explode('director_series').groupby(['director_series'])['revenue'].sum().sort_values(ascending=False)

director_series
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [31]:
answers['13'] = 'Peter Jackson' #'+'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
data[data.genres.str.contains('Action', na=False)].explode('director_series').groupby(['director_series'])['imdb_id'].count().sort_values(ascending=False)

director_series
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: imdb_id, Length: 364, dtype: int64

In [33]:
answers['14'] = 'Robert Rodriguez' #'+'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
data[data['release_year']==2012].explode('cast_series').groupby(['cast_series'])['revenue'].sum().sort_values(ascending=False)

cast_series
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [35]:
answers['15'] = 'Chris Hemsworth' #'+'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
data[data['budget']>data.budget.mean()].explode('cast_series').groupby(['cast_series'])['imdb_id'].count().sort_values(ascending=False)

cast_series
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: imdb_id, Length: 1505, dtype: int64

In [37]:
answers['16'] = 'Matt Damon' #'+'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
data[data.cast.str.contains('Nicolas Cage', na=False)].explode('genres_series').groupby('genres_series')['imdb_id'].count().sort_values(ascending=False)

genres_series
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: imdb_id, dtype: int64

In [39]:
answers['17'] = 'Action' #'+'

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
data[data.production_companies.str.contains('Paramount Pictures', na=False)].sort_values(['profit'], ascending=True).head(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,cast_series,director_series,genres_series,production_series,release_month,title_length,overview_words_count
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,...,6.0,2002,-64831034,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],"[Thriller, Drama, History]","[Paramount Pictures, Intermedia Films, Nationa...",7,20,23

In [41]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)' #'+'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

In [43]:
answers['19'] = '2015' #'+'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
data[data.production_companies.str.contains('Warner Bros', na=False)].groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

In [45]:
answers['20'] = '2014' #'+'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
data.groupby(['release_month'])['imdb_id'].count().sort_values(ascending=False).head(1)

release_month
9    227
Name: imdb_id, dtype: int64

In [47]:
answers['21'] = 'Сентябрь' #'+'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
data[(data['release_month'] == 6) | (data['release_month'] == 7) | (data['release_month'] == 8)].imdb_id.count()

450

In [49]:
answers['22'] = '450' #'+'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
data[(data['release_month'] == 12) | (data['release_month'] == 1) | (data['release_month'] == 2)].groupby(['director'])['imdb_id'].count().sort_values(ascending=False).head(1)

director
Peter Jackson    7
Name: imdb_id, dtype: int64

In [51]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
data.explode('production_series').groupby(['production_series'])['title_length'].mean().sort_values(ascending=False).head(1)

production_series
Four By Two Productions    83.0
Name: title_length, dtype: float64

In [53]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
data.explode('production_series').groupby(['production_series'])['overview_words_count'].mean().sort_values(ascending=False).head(1)

production_series
Midnight Picture Show    175.0
Name: overview_words_count, dtype: float64

In [55]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
data[data['vote_average'] > np.quantile(data['vote_average'], 0.99)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profit,cast_series,director_series,genres_series,production_series,release_month,title_length,overview_words_count
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,...,8.0,2015,678708609,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",6,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,...,8.0,2015,29401758,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",10,4,49
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,...,8.0,2014,456752480,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",11,12,35
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,...,7.9,2014,603312399,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",[James Gunn],"[Action, Science Fiction, Adventure]","[Marvel Studios, Moving Picture Company (MPC),...",7,23,28
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,...,8.0,2014,219555708,"[Benedict Cumberbatch, Keira Knightley, Matthe...",[Morten Tyldum],"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]",11,18,46
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,...,7.9,2014,308330363,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",[David Fincher],"[Mystery, Thriller, Drama]","[Twentieth Century Fox Film Corporation, Regen...",10,9,30
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,...,7.9,2014,144600318,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah...",[Wes Anderson],"[Comedy, Drama]","[Fox Searchlight Pictures, Scott Rudin Product...",2,24,66
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,...,7.9,2010,665500000,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",[Christopher Nolan],"[Action, Thriller, Science Fiction, Mystery, A...","[Legendary Pictures, Warner Bros., Syncopy]",7,9,44
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,...,8.1,2008,816921825,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",7,15,67
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,...,7.9,2002,85072577,"[Adrien Brody, Thomas Kretschmann, Frank Finla...",[Roman Polanski],"[Drama, War]","[Bac Films, Canal+Polska, Heritage Films, Stud...",9,11,39
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,...,7.9,2003,1024888979,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]",12,45,45
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,...,7.9,2013,292000694,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",[Martin Scorsese],"[Crime, Drama, Comedy]","[Paramount Pictures, Appian Way, EMJAG Product...",12,23,29
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,...,7.9,2013,167000000,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",[Steve McQueen],"[Drama, History]","[Plan B Entertainment, Regency Enterprises, Ri...",10,16,61
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,...,7.9,2000,30723096,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",[Christopher Nolan],"[Mystery, Thriller]","[Summit Entertainment, Newmarket Capital Group...",10,7,78

In [57]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
cast_list = data['cast'].apply(lambda x:x.split('|'))
cast_pairs = []
for movie_cast in cast_list:
    for item in itertools.combinations(movie_cast, 2):
        cast_pairs.append(item)
cast_pairs_df = pd.DataFrame({'pairs':cast_pairs})
s = cast_pairs_df['pairs'].value_counts().sort_values(ascending=False)
s.head(1)

(Daniel Radcliffe, Emma Watson)    8
Name: pairs, dtype: int64

In [59]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

27